<div>
  <app-ingredients-list [ingredients]="this.ingredients$ | async"></app-ingredients-list>
  <button (click)="this.addRandomIngredient()">Add Random Ingredient</button>
  <button (click)="this.navigateBack()">GO BACK!</button>
</div>
